{% extends "layout.html" %}
{% block body %}
<div class="container-fluid">
  <div class="shadow p-3 mb-5 bg-white rounded">
    <p></p>
    <div class="text-center">
      <h4 style="font-size:25px;">Project Data Sources</h4>
      <hr>
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <p style="font-size:20px;">Census Population Data</p>
          </div>
          <div style="font-size:20px;" class="col-sm">
            <p>Envirnmental Protection Agency U.S. Statistics</p>
          </div>
          <div style="font-size:20px;" class="col-sm">
            IRS Income Data
          </div>
          <div style="font-size:20px;" class="col-sm">
            U.C. Berkeley Cool Climate Data
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shadow p-2 mb-5 bg-white rounded">
    <center>
      <h2><a href="https://github.com/jshepin/Terra" id="githublink" style="font-size:20px; color:#28a745;">Check our code on GitHub!</a>
        <h2>
    </center>
  </div>
  <br><br>
</div>
</div>{% endblock %}
